@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body {
  background-image: url("https://st3.depositphotos.com/1002927/17624/i/450/depositphotos_176243318-stock-photo-man-chooses-friends-social-network.jpg");
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
h1 {
font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 500;
}
